*{
    padding:0;
    margin:0;
}
img{
    width:100%;
}
ul,ol,dl,dt,dd,li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}

div.container{
    padding:.5rem;
    display:flex;
    justify-content: center;
    margin:0 auto;
    text-align: center;
    position:absolute;
    top:20%;
    left:50%;
    transform: translate(-50%);
}
.item{
    margin:.5rem;
    padding:.5rem;
}
.signContainer{
    width:300px;
    text-align: right;
    display: flex;
    flex-direction: column;
    border:1px solid #ccc;
}
.signContainer>p{
    padding:.5rem;
}
.signContainer>p>input{
    margin-left:.5rem;
}

.loginContainer{
    width:300px;
    text-align:right;
    display:flex;
    flex-direction: column;
    border:1px solid #ccc;
    padding:.5rem;
    margin-left:.5rem;
}
.loginContainer>p{
    padding:.5rem;
}
.loginContainer>p>input{
    margin-left:.5rem;
}
.loginContainer>button{
    margin-top:.5rem;
    padding:.5rem;
}